// Feel free to change
$baseColor1: #2222223D;
$textColor1: #21D0B2;

.button {
  display: inline-block;
  padding: .75rem 2.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lighten($baseColor1, 25%);
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $baseColor1;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: $textColor1;
    &:before {
      width: 100%;
    }
  }
}

.button:hover {
  cursor: pointer;
}