@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@700&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-color: #2F455C;
    margin: 0;
    padding: 0;
}

.home {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

.sidebar {
    width: 40px;
    background: transparent;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
    padding: 20px;
    padding-top: 60px;
    z-index: 98;
}

.sidebar-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: 8px;
}

.sidebar-content::-webkit-scrollbar {
    width: 8px;   // for vertical scroll bar
}

.sidebar-content::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 12px;
}

.toggle-sidebar {
    width: 40px;
    height: 60px;
    background-color: #bbbbbb66;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%) scaleX(.5);
    z-index: 99;
    transition: .2s;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.toggle-sidebar:hover {
    cursor: pointer;
}

.sidebar.expanded {
    width: 500px;
    background-color: #595D5Eee;
    box-shadow: 0 0 20px 2px #0000007e;
    color: #607774
}

.expanded .toggle-sidebar {
    background: transparent;
    color: #d4d4d4;
}

.network-graph-style-1 {
    font-family: "Roboto";
    text-anchor: middle;
    max-width: 100%;
    height: auto;
}

.network-graph-style-1 line.edge {
    stroke-width: 1;
    stroke: white; //edge color
}

.network-graph-style-1 g.node .lower {
    font-weight: bold;
}

.network-graph-style-1 g.node .name {
    fill: white;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 0.6rem;
}

.network-graph-style-1 g.node .point {
    fill: #21D0B2; //34F5C5
}

.network-graph-style-1 .point {
    stroke: lightgrey; //node border
    stroke-width: 1;
    r: 6; // radius of the node
}

.network-graph-style-1 .highlight.point {
    pointer-events: none;
}


.network-graph-style-1 g.node:hover,
line:hover {
    cursor: pointer;
}

.tooltip {
    background-color: lightgrey;
    font-weight: bold;
    position: absolute;
    /* the absolute position is necessary so that we can manually define its position later */
    visibility: hidden;
    /* hide it from default at the start so it only appears on hover */
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black; // text color
}

.zoom-controls {
    position: absolute;
    bottom: 0.8em;
    right: 2em;
    display: flex;
    gap: 0.1em;
}

.zoom-controls button {
    border: 0px;
    font-size: 1.6em;
    text-align: center;
    width: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zoom-controls button:first-child {
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.zoom-controls button:last-child {
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.graph-query {
    background: white;
    position: absolute;
    top: 100px;
    right: 20px;
    border: 1px solid lightgrey;
    z-index: 98;
    padding: 0.4em 0 0.8em;
    border-radius: 0.4em;
    transition: .5s;
}

.graph-query ul {
    list-style-type: none;
    margin: 0;
    width: 20em;
}

.graph-query .indicator {
    border-radius: 50%;
    width: 2ch;
    aspect-ratio: 1;
    border: 1px solid lightgrey;
}

.graph-query ul li {
    display: flex;
    align-items: center;
    gap: 0.4em;
    cursor: pointer;
}

.graph-query ul li:hover {
    background-color: lightgrey;
}

.graph-query-pushed {
    right: 520px;
}

