* {
    box-sizing: border-box;
}


body {
    background-color: #749793dd;
    margin: 0;
    padding: 0;
}

.home {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

.sidebar {
    width: 35px;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
    padding: 20px;
    overflow-y: auto;
    z-index: 98;
}

.toggle-sidebar {
    width: 40px;
    height: 60px;
    background-color: rgba(187, 187, 187, 0.4);
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%) scaleX(.5);
    z-index: 99;
    transition: .2s;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.toggle-sidebar:hover {
    cursor: pointer;
}

.sidebar.expanded {
    width: 300px;
    background-color: #595D5Eee;
    box-shadow: 0 0 20px 2px #0000007e;
    color: #607774
}

.expanded .toggle-sidebar {
    background: transparent;
    color: #d4d4d4;
}

#graph {
    max-width: 100%;
    height: auto;
    height: intrinsic;
}

#graph g.node .lower {
    font-weight: bold;
}

#graph g.node .name {
    font-size: 0.7rem;
}

g.node:hover,
line:hover {
    cursor: pointer;
}

circle {
    filter: drop-shadow(3px 3px 2px #00000033);
}

.tooltip {
    background-color: #A4B8B6ee;
    font-weight: bold;
    position: absolute;
    /* the absolute position is necessary so that we can manually define its position later */
    visibility: hidden;
    /* hide it from default at the start so it only appears on hover */
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}