.about-page-header {
    color: #F3F3F3;
}

.description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.description h1, .description p {
    color: white;
    font-size: 40px;
    padding: 0 auto;
}

.header-container video {
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.header-container {
    position: relative;
}

// mobile: width < 740px
@media only screen and (max-width: 739px) {
    .description h1, p {
        font-size: 28px;
    }
}

// tablet: width >= 740px and width < 1024px
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .description h1, p {
        font-size: 36px;
    }
}
